/* FULL SCREEN */
html {
  background-color: rgb(71, 64, 64);
}
/* GAME BOARD */
.container {
  position: relative;
  margin: 50px auto;
  width: 350px;
  height: 350px;
  /* display: inline-block; */
}

.squares {
  font-size: 3em;
  height: 150px;
  width: 150px;
  float: left;
  border: black 5px solid;
  text-align: center;
  line-height: 150px;
  cursor: pointer;
}

.circles {
  z-index: 1;
  height: 75px;
  width: 75px;
  float: left;
  border: black 5px solid;
  position: absolute;
  border-radius: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  font-size: 1.5em;
  cursor: pointer;
}

.score {
  position: absolute;
  color: white;
  background-color: black;
  font-size: 1.5em;
  text-align: center;
  width: 70px;
  height: 60px;
  right: 44%;
  top: 38%;
  pointer-events: none;
  z-index: 2;
}

.squares:hover {
  filter: brightness(80%);
}

#red {
  background-color: rgb(231, 57, 26);
  border-top-left-radius: 25%;
}

#blue {
  background-color: rgb(53, 97, 231);
  border-top-right-radius: 25%;
}

#green {
  background-color: rgb(96, 189, 3);
  border-bottom-left-radius: 25%;
}

#yellow {
  background-color: rgb(233, 218, 87);
  border-bottom-right-radius: 25%;
}

.circles:hover {
  filter: brightness(45%);
}

#white {
  left: 20%;
  top: 20%;
  background-color: rgb(185, 184, 184);
}

#orange {
  left: 47%;
  top: 20%;
  background-color: #ff8800;
}

#purple {
  left: 20%;
  top: 47%;
  background-color: #671d99;
}

#magenta {
  left: 47%;
  top: 47%;
  background-color: magenta;
}

button {
  font-size: 1.5em;
}

.squares:active {
  transform: translateY(4px);
  transform: translateX(4px);
  transform: translate(4px, 4px);
}

.circles:active {
  transform: translateY(4px);
  transform: translateX(4px);
  transform: translate(4px, 4px);
}

.lightUp {
  filter: brightness(200%);
}

/* SIDE BUTTONS */
.side-buttons {
  position: absolute;
  top: 15%;
  padding-top: 10%;
}

#high-score {
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: white;
  position: fixed;
  top: 25%;
  right: 10%;
  font-size: 1.5em;
  border-radius: 5px;
}

/* MODAL */
.hidden {
  display: none;
}

.hard-mode {
  /* display: none; */
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 120%;
  width: 100%;
  z-index: 1;
}

.modal-textbox {
  background-color: white;
  height: 40%;
  width: 60%;
  border-radius: 10px;
  margin: 25% auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
  padding: 2%;
  text-align: center;
  line-height: 70px;
}

.dont-cheat {
  pointer-events: none;
}
