* {
  background-color: gray;
}

.container {
  position: relative;
  margin: 50px auto;
  width: 350px;
  height: 350px;
  /* display: inline-block; */
}

.squares {
  font-size: 3em;
  height: 150px;
  width: 150px;
  float: left;
  border: black 5px solid;
  text-align: center;
  line-height: 150px;
  cursor: pointer;
}

.score {
  position: absolute;
  color: white;
  background-color: black;
  font-size: 1.5em;
  text-align: center;
  width: 75px;
  height: 50px;
  right: 42%;
  top: 38%;
}

.squares:hover {
  filter: brightness(80%);
}

#red {
  background-color: rgb(231, 57, 26);
  border-top-left-radius: 25%;
}

#blue {
  background-color: rgb(53, 97, 231);
  border-top-right-radius: 25%;
}

#green {
  background-color: rgb(123, 219, 27);
  border-bottom-left-radius: 25%;
}

#yellow {
  background-color: rgb(204, 184, 8);
  border-bottom-right-radius: 25%;
}

#start {
  background-color: silver;
}

.squares:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transform: translateX(4px);
  transform: translate(4px, 4px);
}

.side-buttons {
  position: absolute;
  top: 25%;
  padding-top: 10%;
}

.start {
  position: absolute;
  top: 80%;
}

.lightUp {
  filter: brightness(150%);
}
